<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Payment Intent</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        #payment-form {
            width: 40%;
            margin-left: 30%;
            margin-top: 5%;
            border: 1px silver solid;
            padding: 20px;
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
<div id="payment-form">
    <h2>Payment by Stripe</h2>
    <label for="card-element">Credit or debit card:</label><br>
    <div id="card-element">
        <!-- Elements will create input elements here -->
    </div>

    <div id="payment-result" role="alert"></div>

    <br>
    <button id="btn-payment-intent">Pay</button>
    <button id="btn-charge">Charge</button>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script th:inline="javascript">
    // noinspection JSUnresolvedReference
    /**
     * @typedef {Object} StripeInstance
     * @property {function(Object): Promise<{paymentMethod: Object, error: Object}>} createPaymentMethod
     * @property {function(string, Object): Promise<{paymentIntent: Object, error: Object}>} confirmCardPayment
     * @property {function(Object): Promise<{token: Object, error: Object}>} createToken
     * @property {function(Object=): StripeElements} elements
     */

    /**
     * @typedef {Object} StripeElements
     * @property {function(string, Object=): StripeElement} create
     */

    /**
     * @typedef {Object} StripeElement
     * @property {function(string): void} mount
     */

        // noinspection JSUnresolvedReference
    const publishableKey = /*[[${publishableKey}]]*/ '';

    /** @type {StripeInstance} */
    const stripe = (/** @type {function(string): StripeInstance} */ window.Stripe)(publishableKey);

    /**
     * @type {StripeElements}
     */
    const elements = stripe.elements();

    /**
     * @type {StripeElement}
     */
    const cardElement = elements.create('card');
    cardElement.mount('#card-element');

    const paymentResult = document.getElementById('payment-result');

    document.getElementById('btn-payment-intent').addEventListener('click', async function (event) {
        event.preventDefault();

        const {error: createError, paymentMethod} = await stripe.createPaymentMethod({
            type: 'card',
            card: cardElement,
        });

        if (createError) {
            console.error(createError);
            paymentResult.innerHTML = `<p style="color: red">Error: ${createError.message}</p>`;
            return;
        }

        console.log('PaymentMethod created:', paymentMethod.id);

        const response = await fetch('http://localhost:8086/create-payment-intent', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                customerId: 2,
                orderId: 'fdad3252-b14b-4ae7-81e1-f36583f57ca3',
                paymentMethod: 'card',
                amount: 22222,
                currency: 'usd',
                description: 'Example payment intent from browser'
            })
        });

        const {clientSecret} = await response.json();

        const {error: confirmError, paymentIntent} = await stripe.confirmCardPayment(
            clientSecret,
            {
                payment_method: {
                    card: cardElement,
                },
            }
        );

        if (confirmError) {
            paymentResult.innerHTML = `<p style="color: red">Payment failed: ${confirmError.message}</p>`;
        } else {
            paymentResult.innerHTML = `<p style="color: blue">Payment succeeded! Payment ID: ${paymentIntent.id}</p>`;
        }
    });

    document.getElementById('btn-charge').addEventListener('click', async function (event) {
        event.preventDefault();

        const {token, error} = await stripe.createToken(cardElement);

        if (error) {
            console.error(error);
            paymentResult.innerHTML = `<p style="color: red">Error: ${error.message}</p>`;
            return;
        }

        const response = await fetch('http://localhost:8086/charge', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                token: token.id,
                customerId: 3,
                orderId: 'fdad3252-b14b-4ae7-81e1-f36583f57ca3',
                paymentMethod: 'card',
                amount: 33333,
                currency: 'usd',
                description: 'Example charge from browser'
            }),
        });

        const {status} = await response.json();
        paymentResult.innerHTML = `<p style="color: blue">Payment status: <span style="color: red">${status}</span></p>`;
    });
</script>
</body>
</html>
